# Corpus file
20221111-analysis-corpus-web-of-science-export.txt

# Ignore Word files
*.docx

# RStudio files
.Rproj.user/

figures-and-tables/

130-descriptive-analysis_files/

_archive-130-descriptive-analysis/
.Rhistory
*.pper
.Rhistory
*.pper
.Rhistory
*.pper
*.pper
